<div class="flight-show-title">
  <h1>Mon vol vers <br> <%= @flight.destination.capitalize %></h1>
</div>

<div class="flight-show-task-container">
  <div class="flight-show-task-title">
    <p>Mes tâches</p>
  </div>
  <div class="flight-show-task-link">
    <div class="flight-show-task-link-items">
      <%= link_to "Administratif"%>
      <span></span>
    </div>
    <div class="flight-show-task-link-items">
      <%= link_to "Ma valise"%>
      <span></span>
    </div>
    <div class="flight-show-task-link-items">
      <%= link_to "Avant de partie" %>
      <span></span>
    </div>
  </div>
</div>

<div class="flight-show-main-card-container">
  <div class="flight-show-main-card-info">
    <div class="flight-show-main-card">
      <h2>Départ de chez vous</h2>
      <p>(au plus tard)</p>
      <h3>7:28</h3>
    </div>
    <div class="flight-show-main-card">
      <h2>Arrivée à l'aéroport</h2>
      <p>(au plus tard)</p>
      <h3>8:37</h3>
    </div>
  </div>
  <div class="flight-show-main-card-link">
    <%= link_to "C'est parti !" %>
  </div>
  <div class="flight-show-map_container">

<iframe
  width="400"
  height="300"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB14spnRqTyx6K0z6fsNi-PJcJ5Cts2Fnk
    &q=Space+#{<%=@flight.destination%>}, Tunisie+WA">
</iframe>

  </div>
</div>



<div class="flight-show-detail-main-container">
  <div class="flight-show-detail-container">
    <h3>Information sur votre vol</h3>
    <div class="flight-show-detail-info">
      <p> Terminal : <%= @flight.terminal  %></p>
      <p> Aéroport : <%= @flight.airport  %></p>
      <h6>N° vol : <%= @flight.flight_number %> </h6>
      <p>Départ le : <%= @flight.takeoff_time.strftime("%d/%m/%Y") %> à <%= @flight.takeoff_time.strftime("%H:%M") %></p>
      <p>Arrivée le : <%= @flight.landing_time.strftime("%d/%m/%Y") %> à : <%= @flight.landing_time.strftime("%H:%M") %></p>
      <p>Temps d'avance à la porte souhaité : <%= @flight.arrival_time_wanted %>h</p>
      <p>Votre moyen de deplacement : <%= @flight.mobility_choice %></p>
    </div>
  </div>
</div>


<div class="flight-show-button">

  <%= link_to "Modifier", edit_flight_path(@flight)%>
  <%= link_to "Supprimer", flight_path(@flight),
                            data: { turbo_method: :delete, turbo_confirm: "Supprimer cette réservation ?" } %>
</div>
