<div class="flight-show-title">
    <h1>Mon vol vers <br> <%= @flight.destination.capitalize %></h1>
</div>

<div class="flight-show-task-container">
    <div class="flight-show-task-title">
      <p>Mes tâches</p>
    </div>
    <div class="flight-show-task-link">
      <div class="flight-show-task-link-items">
        <%= link_to "Administratif", tasks_path%>
        <span></span>
      </div>
      <div class="flight-show-task-link-items">
        <%= link_to "Ma valise", tasks_path%>
        <span></span>
      </div>
      <div class="flight-show-task-link-items">
        <%= link_to "Avant de partie", tasks_path %>
        <span></span>
      </div>
    </div>
</div>

<div class="flight-show-alert-container"  data-controller="display-alert-form">
    <div class="flight-show-alert-title">
      <p>Alertes</p>
    </div>

    <div class="flight-show-alert-card-container">
  <% @alerts.each do |alert| %>
    <%= turbo_frame_tag dom_id(alert) do%>
      <div class="flight-show-alert-wrapper" data-alert-id="<%= alert.id %>">
        <div class="flight-show-alert-card" data-action="click->display-alert-form#switchVote">
          <i class="fa-solid fa-triangle-exclamation"></i>
          <%= render 'alerts/alert', alert: alert %>
        </div>

        <% unless alert.user == current_user %>
          <div class="flight-show-alert-card-vote show-form-hidden">
              <%= button_to upvote_alert_path(alert), disabled: alert.is_voted_by_user?(current_user), method: :patch do  %>
                <i class="fa-solid fa-thumbs-up "></i>
              <% end %>
              <%= button_to downvote_alert_path(alert), disabled: alert.is_voted_by_user?(current_user) , method: :patch, turbo: false do  %>
                <i class="fa-solid fa-thumbs-down"></i>
              <% end %>
          </div>
      <% end %>
       </div>
    <% end %>
  <% end %>
  </div>

    <div class="flight-show-alert-form-display">
         <div class="flight-show-alert-form show-form-hidden" data-display-alert-form-target="togglableElement">
          <%= render "alerts/form" %>
        </div>
        <button data-action="click->display-alert-form#switch">
          <p class="" data-display-alert-form-target="togglableElementPlus"> + </p>
          <p class="show-form-hidden" data-display-alert-form-target="togglableElementMoins"> - </p>
        </button>

    </div>
</div>

<div class="flight-show-main-card-container">
    <div class="flight-show-main-card-info">
      <div class="flight-show-main-card">
        <h2>Départ de chez vous</h2>
        <p>(au plus tard)</p>
        <h3><%= @final_timing %></h3>
      </div>
      <div class="flight-show-main-card">
        <h2>Décollage à</h2>
        <p>(au plus tard)</p>
        <h3><%= @flight.takeoff_time.strftime("%H:%M")%></h3>
      </div>
    </div>

    <% nav_links = google_maps_navigation_link(@flight.user_departure_address, "aeroport #{@flight.airport}", @flight.mobility_choice) %>

    <div class="flight-show-main-card-link">
      <a id="maps-nav-link" href="<%= nav_links[:web] %>" target="_blank">Lancer la navigation</a>
    </div>

    <script>
  document.addEventListener("DOMContentLoaded", function() {
    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    var link = document.getElementById("maps-nav-link");

    var destination = encodeURIComponent("aeroport <%= @flight.airport %>");
    var origin = encodeURIComponent("<%= @flight.user_departure_address %>");
    var travelmode = "<%= @flight.mobility_choice %>";

    var dirflg = "d";

    if (travelmode === "walking") {
      dirflg = "w";
    } else if (travelmode === "bicycling") {
      dirflg = "b";
    } else if (travelmode === "transit") {
      dirflg = "r";
    } else {
      dirflg = "d";
    }

    if (/android/i.test(userAgent)) {
      link.href = "intent://maps.google.com/maps?daddr=" + destination + "&dirflg=" + dirflg + "#Intent;scheme=https;package=com.google.android.apps.maps;end;";
    } else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
      link.href = "comgooglemaps://?saddr=" + origin + "&daddr=" + destination + "&directionsmode=" + travelmode + "&navigate=yes";
    } else {
      link.href = "https://www.google.com/maps/dir/?api=1&origin=" + origin + "&destination=" + destination + "&travelmode=" + travelmode;
    }
  });
</script>


    <div class="flight-show-map_container" >

    <%= render "gps" %>
    </div>
</div>

<div class="flight-show-detail-main-container" data-controller="toggle-information">
    <div class="flight-show-detail-container "
      data-action="click->toggle-information#disable">
      <h3>Information sur votre vol</h3>
      <div class="flight-show-detail-info flight-show-detail-toggle"
      data-toggle-information-target="details">
        <p> Terminal : <%= @flight.terminal  %></p>
        <p> Porte : <%= @flight.gate  %></p>
        <p> Aéroport de départ : <%= @flight.airport.upcase  %></p>
        <h6>N° vol : <%= @flight.flight_number %> </h6>
        <div class="flight-show-detail-departure">
          <p>Départ le : <%= @flight.takeoff_time.strftime("%d/%m/%Y") %> à <%= @flight.takeoff_time.strftime("%H:%M") %></p>
          <p>Arrivée le : <%= @flight.landing_time.strftime("%d/%m/%Y") %> à : <%= @flight.landing_time.strftime("%H:%M") %></p>
        </div>
        <p>Nombre de vol prévu sur votre terminal au même crenau : <%= @flight.estimated_wait %> </p>
        <%  if @flight.international  %>
        <p>C'est un vol vers l'internationnal</p>
        <% end %>
      </div>
    </div>

    <div class="flight-show-detail-container "
      data-action="click->toggle-information#disablePersonal">
      <h3>Vos préferences</h3>
      <div class="flight-show-detail-info flight-show-detail-toggle"
      data-toggle-information-target="personal">
        <p>Temps d'avance à la porte souhaité : <%= @flight.arrival_time_wanted %> min</p>
        <p>Votre moyen de deplacement : <%= @flight.mobility_choice_label %></p>
        <% if @flight.duration_second.present? %>
            <div class="show-flight-personal-trajet">
              <p><%= "#{@hours } h #{@minutes.to_s.rjust(2, '0')}"%> de trajet à partir de : </p>
                <div class="show-flight-personal-trajet-duration">
                  <p><%= @flight.user_departure_address %></p>

              </div>
            </div>
          <% else %>
            <p>Durée du trajet non disponible.</p>
          <% end %>
        <%  if @flight.valise  %>
        <p>Vous avez une valise</p>
        <% end %>
      </div>
    </div>
</div>

<div class="flight-show-button">
    <%= link_to "Voir autres vols", flights_path(@flights)%>
    <%= link_to "Supprimer", flight_path(@flight),
                              data: { turbo_method: :delete, turbo_confirm: "Supprimer cette réservation ?" } %>
</div>


<%# <script>window.open("https://google.com", "_blank")</script> %>
