  <% @categories.each do |category| %>
  <div class="accordion" id="accordionFlush<%= category.name.gsub(" ", "-") %>">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading<%= category.name.gsub(" ", "-") %>">
          <button class="accordion-button <%= "accordion-button-#{category.name.gsub(" ", "-")}" %> collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= category.name.gsub(" ", "-") %>" aria-expanded="false" aria-controls="flush-collapse<%= category.name.gsub(" ", "-") %>">
            <%= category.name %>
          </button>
        </h2>
        <div id="flush-collapse<%= category.name.gsub(" ", "-") %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= category.name.gsub(" ", "-") %>" data-bs-parent="#accordionFlush<%= category.name.gsub(" ", "-") %>">
          <% tasks = @tasks_grouped[category] || [] %>
          <% if tasks.any? %>
            <% tasks.each do |task| %>
              <%= render task, task: task, category: category %>
             <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
