<div class="container margin-bottom-50">

  <div class="home-index-title">
    <% if user_signed_in? %>
      <div class="title">
        <h1>Bienvenue <%= current_user.first_name %> !</h1>
      </div>
    <% end %>
  </div>


  <div class="next-travel">
    <% if @flight %>
      <div class="next-travel-text">
        <h6>J-<%= (@flight.takeoff_time.to_date - Date.today).to_i %> avant votre prochain trajet :</h6>
      </div>
      <div class="home-index-card">
        <div class="home-index-card-photo">
          <% if @flight.photo.key? %>
            <%= cl_image_tag @flight.photo.key  %>
          <% end %>
        </div>
        <div class="home-index-card-info">
          <p><%= @flight.takeoff_time.strftime("%d/%m/%Y") %></p>
          <p><%= @flight.destination %></p>
        </div>
        <div class="home-index-card-button">
          <%= link_to flight_path(@flight), class: "ticket-btn" do %>
            <%= inline_svg_tag "icons/ticket-btn.svg", class: "icon-ticket-home" %>
          <% end %>
        </div>
      </div>
    <% else %>
  <% end %>
</div>


  <div class="next-step">
    <p>Que voulez vous faire aujourd'hui ?</p>
  </div> <div class="cards-container"> <div class="cards-row">
      <div class="card">

          <h6>Ajouter un vol</h6>

        <div class="home-index-card2-button plus-btn">
          <%= link_to "+", new_flight_path %>
        </div>
      </div>
      <div class="card">
          <h4>Mes vols</h4>
        <p><%= @flights.count %> à venir</p>
        <div class="home-index-card2-button">
          <%= link_to "Voir", flights_path %>
        </div>
      </div>
    </div>
    <div class="cards-row">
      <div class="card">
          <h4>Ma To Do</h4>
        <p><%= @tasks.count %> éléments</p>
        <div class="home-index-card2-button">
          <%= link_to "Voir", tasks_path %>
        </div>
      </div>
      <div class="card">
          <h4>Mes points</h4>
        <p><%= current_user.point %> Points</p>
        <div class="home-index-card2-button">
          <%= link_to "Voir", user_points_path(current_user) %>
        </div>
      </div>
    </div>




  </div>
</div>
