<div class="container">

  <div class="flight-index-title">
    <% if user_signed_in? %>
      <div class="image-avatar">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
        <% else %>
          <%= image_tag "https://static.vecteezy.com/system/resources/previews/024/983/914/non_2x/simple-user-default-icon-free-png.png", class: "avatar", alt: "default avatar" %>
        <% end %>
      </div>
      <div class="title">
        <h1>Bienvenue <%= current_user.first_name %> !</h1>
      </div>
    <% end %>
  </div>


  <div class="next-travel">
    <% if @flight %>
      <div class="next-travel-text">
        <h6>J-<%= (@flight.takeoff_time.to_date - Date.today).to_i %> avant votre prochain trajet :</h6>
      </div>
      <div class="home-index-card">
        <div class="home-index-card-photo">
          <%= cl_image_tag("paris", version: "1749214394", format: "avif") %>
        </div>
        <div class="home-index-card-info">
          <p><%= @flight.takeoff_time.strftime("%d/%m/%Y") %></p>
          <p><%= @flight.destination %></p>
        </div>
        <div class="home-index-card-button">
          <%= link_to flight_path(@flight), class: "ticket-btn" do %>
            <%= inline_svg_tag "icons/ticket-btn.svg", class: "icon-ticket-home" %>
          <% end %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>


  <div class="next-step">
    <p>Que voulez vous faire aujourd'hui ?</p>
  </div> <div class="cards-container"> <div class="cards-row">
      <div class="card">

          <h6>Ajouter un vol</h6>

        <div class="home-index-card2-button plus-btn">
          <%= link_to "+", new_flight_path %>
        </div>
      </div>
      <div class="card">

          <h4>Mes vols</h4>

        <p><%= @flights.count %> à venir</p>
        <div class="home-index-card2-button">
          <%= link_to "Voir", flights_path %>
        </div>
      </div>
    </div>
    <div class="cards-row">
      <div class="card">

          <h4>Ma To Do</h4>

        <p><%= @tasks.count %> éléments</p>
        <div class="home-index-card2-button">
          <%= link_to "Voir", tasks_path %>
        </div>
      </div>
      <div style="width: 150px; height: 0;"></div>
    </div>
  </div>
</div>
