<div id="task_<%= task.id %>" class="accordion-body <%= "accordion__#{category.name.gsub(" ", "-")}" %> p-0">
  <div class="accordion-flex d-flex justify-content-between align-items-center task-line" >
    <%= simple_form_for [@flight, task], html: {class: 'mt-2', data: { controller: 'form' } }, method: :patch, remote: true  do |f| %>
      <%= f.input :done, label: task.content, as: :boolean, checked: task.done,
        wrapper_html: { class: "mb-0 #{category.name.gsub(" ", "-")} px-3 py-2" },

        input_html: { data: {action: "change->form#submit", form_target: "form"}} %>
    <% end %>
    <%= link_to task_path(task, return_to: request.fullpath), data: {turbo_method: :delete, turbo_confirm: "Etes vous sûr de vouloir le supprimer ?"},
      class: "deletetask-#{category.name.gsub(" ", "-")}" do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </div>
</div>
